- var production = 'pro' == process.env.NODE_ENV 
doctype
html(lang='eng')
  head 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title mevoyx20
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
    link(rel='stylesheet', href='css/bootstrap-social.min.css')
    link(rel='stylesheet', href='css/bootstrap-tour.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    script(type='text/javascript').
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    
  if production
    link(rel='stylesheet', href='dashboard.min.css')
  else
    link(rel='stylesheet', href='dashboard.css')
    link(rel='stylesheet', href='css/social-share.css')
  body
    include ./includes/navigation.jade
    
    div
      div(id='left-panel', class='sidebar')
        div#help-link 
          button(class='btn btn-info') Primera vez? Click aquí
        form(id='course-search', class='form-group', role='search')
          .input-group
            span.input-group-addon
              span(id='btn-search', class='glyphicon glyphicon-search')
            input(id='course-search-box', class='form-control', type='text', placeholder='Buscar', required)
            span(id='remove-search', class='icon-input glyphicon glyphicon-remove form-control-feedback')
        div(id='no-results') No hay resultados. Click en 
          span(id='new-course', class='glyphicon glyphicon-plus') 
          |   para crearlo.
          
        ul(id='search-results', class='nav nav-sidebar')
        button(id='my-courses', class='btn btn-primary') Mis cursos
        ul(id='course-list', class='nav nav-sidebar')

      button#toggle-left-panel  
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div(id='grades-container')
        div(id='course-detail', class='on-sel-hide')
          label(for='course-base-formula') Fórmula: 
          input(type='text', id='course-base-formula', placeholder= 'fórmula del curso',
            data-toggle='tooltip',data-placement='bottom',
            title='Ejem: ( 3Pa+2Ex1+4Ex2) / 10 ó 3Pa+2Ex1+4Ex2)')
          button(id='apply-base-formula', class='btn btn-primary') Aplicar Fórmula
          button(id='save-formula', class='btn btn-primary', data-toggle="popover",
            data-placement="bottom", data-content="Debe guardar los nuevos cambios  ") Guardar
          div(class='btn-group toggle-view', data-toggle='buttons')
            label(class='btn btn-primary active icomoon-list', id='simple-view', 
              data-toggle="tooltip", data-placement="bottom" title="Vista básica")
              input(type='radio', name='options', checked)
            label(class='btn btn-primary icomoon-tree', id='advanced-view', 
              data-toggle="tooltip", data-placement="bottom" title="Vista avanzada")
              input(type='radio', name='options')
            //span(class='glyphicon glyphicon-floppy-disk') Guardar
        div(id='simple-container')
        svg(id='tree-container' height='800' width='1300')
          g(id="edges")
          g(id="nodes")

    div(id='messages', class='center-block')
    div(id='spin')

    .social-sidebar
      ul

        //li
          //a(class='fa fa-facebook',
            //href='#',onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.mevoyx20.com','facebook-share-dialog','width=626,height=436');return false;")
            //span(class='social-text') Facebook
        //li
          //a(class='fa fa-twitter', data-dnt='true'
            //href='https://twitter.com/intent/tweet?url=http://www.mevoyx20.com&button_hashtag=mevoyx20')
            //span(class='social-text') Twitter
        //li
          //a(class='fa fa-google-plus',
            //onclick= "window.open('https://plus.google.com/share?ur\l=www.mevoyx20.com', 'Share to Google+','width=600,height=460,menubar=no,location=no,status=no')")
            //span(class='social-text') Google+
        li(id='help')
          a(class='glyphicon glyphicon-question-sign', href='help')
            span(class='social-text') Ayuda

    include ./includes/socialShare.jade

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="http://d3js.org/d3.v3.min.js")


    if production
      script(src='javascript/min/react.min.js')
      script(src="javascript/min/grades.min.js")
    else
      script(src='http://fb.me/react-0.11.1.js')
      script(src='javascript/build/simpleViewReact.js')
      script(src='javascript/simpleView.js')
      script(src="javascript/social-share.js")
      script(src="javascript/nodeView.js")
      script(src="javascript/spin.min.js")
      script(src="javascript/consumeApi.js")
      script(src="javascript/courseSearch.js")
      script(src="javascript/myCourses.js")
      script(src="javascript/string.js")
      script(src="javascript/main.js")
      script(src="javascript/bootstrap-tour.min.js")
