- var production = 'pro' == process.env.NODE_ENV 
doctype
html(lang='eng')
  head 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Grades app
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script')
    link(rel='stylesheet', href='css/bootstrap-social.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    script(type='text/javascript').
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  if production
    link(rel='stylesheet', href='css/min/dashboard.min.css')
  else
    link(rel='stylesheet', href='dashboard.css')
  body
    include ./includes/navigation.jade
    
    .container-fluid
      .row
        div(id='left-panel', class='sidebar')
          form(id='course-search', class='form-group', role='search')
            .input-group
              span.input-group-addon
                span(id='btn-search', class='glyphicon glyphicon-search')
              input(id='course-search-box', class='form-control', type='text', placeholder='Buscar', required)
              span(id='remove-search', class='icon-input glyphicon glyphicon-remove form-control-feedback')
          div(id='no-results') No hay resultados. Click en 
            span(id='new-course', class='glyphicon glyphicon-plus') 
            |   para crearlo.
            
          ul(id='search-results', class='nav nav-sidebar')
          button(id='my-courses', class='btn btn-primary') Mis cursos
          ul(id='course-list', class='nav nav-sidebar')

        button#toggle-left-panel  
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div(id='grades-container', class='col-sm-9 col-md-10')
          h4(id="course-name") Fisica
          button(id="save-formula") Save
          svg(id='tree-container' height='1000' width='1800')
            g(id="edges")
            g(id="nodes")

    div(id='messages', class='center-block')
    div(id='spin')

    .social-sidebar
      ul
        li
          a(class='fa fa-facebook',
            href='#',onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.joindota.com','facebook-share-dialog','width=626,height=436');return false;")
            span(class='social-text') Facebook
        li
          a(class='fa fa-twitter', data-dnt='true'
            href='https://twitter.com/intent/tweet?url=http://www.joindota.com&button_hashtag=notasPucp')
            span(class='social-text') Twitter
        li
          a(class='fa fa-google-plus',
            onclick= "window.open('https://plus.google.com/share?ur\l=www.joindota.com', 'Share to Google+','width=600,height=460,menubar=no,location=no,status=no')")
            span(class='social-text') Google+

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="http://d3js.org/d3.v3.min.js")


    if production
      script(src="javascript/min/grades.min.js")
    else
      script(src="javascript/nodeView.js")
      script(src="javascript/spin.min.js")
      script(src="javascript/consumeApi.js")
      script(src="javascript/courseSearch.js")
      script(src="javascript/myCourses.js")
      script(src="javascript/string.js")
      script(src="javascript/main.js")
